In [20]:
import pandas as pd
import numpy as np
import edhec_risk_kit as erk

In [8]:
returns = pd.read_csv("data/Portfolios_Formed_on_ME_monthly_EW.csv",header=0,index_col=0,parse_dates=True,na_values=-99.99)

In [9]:
columns = ['Lo 20','Hi 20']
returns = returns[columns]
returns = returns / 100
returns.columns = ['SmallCap','LargeCap']
returns.index = pd.to_datetime(returns.index,format= "%Y%m")
returns.index = returns.index.to_period('M')

In [11]:
n_months = returns.shape[0]
return_per_month = (1+returns).prod()** (1/n_months) -1
annualized_return = (return_per_month +1)**12 -1
annualized_return

SmallCap    0.151977
LargeCap    0.098490
dtype: float64

In [12]:
annualized_volatility = returns.std() * np.sqrt(12)
annualized_volatility

SmallCap    0.336701
LargeCap    0.195116
dtype: float64

In [16]:
returns['1999':'2015']

         SmallCap  LargeCap
1999-01    0.1114    0.0153
1999-02   -0.0399   -0.0172
1999-03   -0.0308    0.0368
1999-04    0.0824    0.0679
1999-05    0.0435   -0.0048
...           ...       ...
2015-08   -0.0347   -0.0559
2015-09   -0.0610   -0.0333
2015-10    0.0385    0.0710
2015-11    0.0165    0.0015
2015-12   -0.0500   -0.0229

[204 rows x 2 columns]

In [15]:
n_months = returns['1999':'2015'].shape[0]
return_per_month = (1+returns['1999':'2015']).prod()** (1/n_months) -1
annualized_return = (return_per_month +1)**12 -1
annualized_return

SmallCap    0.114426
LargeCap    0.062865
dtype: float64

In [19]:
annualized_volatility = returns['1999':'2015'].std() * np.sqrt(12)
annualized_volatility

SmallCap    0.228894
LargeCap    0.172713
dtype: float64

In [27]:
edata = erk.drawdown(returns['LargeCap'])

In [30]:
edata['Drawdown']['1999':'2015'].idxmin()

Period('2009-02', 'M')

In [31]:
hfi = erk.get_hfi_return()

In [44]:
erk.kurtosis(hfi['2000':'2018'])

Convertible Arbitrage     23.001449
CTA Global                 2.845022
Distressed Securities      6.231720
Emerging Markets           5.941289
Equity Market Neutral     20.329621
Event Driven               5.543444
Fixed Income Arbitrage    33.378729
Global Macro               3.653278
Long/Short Equity          4.472589
Merger Arbitrage           4.520785
Relative Value            12.731096
Short Selling              4.352758
Funds Of Funds             7.584725
dtype: float64